body {
  width: 100%;
  background-color:antiquewhite;
}

.ajou {
  background-color: rgb(0, 92, 230);
}

#firstTable {
  width: 70%;
  height: 300px;
}

#secondTable {
  width: 70%;
  height: 300px;
}

#secondTable a {
  color : green;
}

.leftside1 {
  width: 100px;
 }

.tableTitle {
  background-color : rgb(224, 206, 43);
}

table tr th {
  border: solid;
}


body #about ul li {
  width: 70%;
  background-color: rgb(255, 198, 151);
  border-radius: 8px;
}

.name, .greeting {
  display: none;
}

.showing {
  display: block;
}